body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom right,rgb(164, 230, 235), #8a31d3);
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 100px;
    max-width: 700px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #4c16af;
    border-radius: 7px;
}

button {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#confirmacion {
    margin-top: 15px;
    color: green;
    text-align: center;
    font-weight: bold;
}

.oculto {
    display: none;
}

.redes {
    text-align: center;
    margin-top: 20px;
}

.redes a {
    text-decoration: none;
    color: #fff;
    background-color: #25D366;
    padding: 10px 15px;
    border-radius: 5px;
}

footer{
    background-color: #282729;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .foot{
    margin-bottom: 20px;
}
footer .foot .info{
    color: #fff;
    display: inline-block;

}
footer .foot .info img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 50%;
}
footer .foot .info h4{
    font-size: 20px;
    font-family: "freeman";
    margin-bottom: 7.5px;
}
footer .foot .info p{
    font-size: 16px;
    margin-bottom: 7px;
}
footer .foot .text-center a ion-icon{
    color: #fff;
    margin: 8px;
    font-size: 40px;
}
footer .foot .text-center p{
    font-size: 18px;
    margin-bottom: 7.5px;
}
footer .foot .orillas{
    font-size: 18px;
    margin-top: 38px;
}
